.main-content {
    @include xy-grid-container();
    margin: $global-margin auto;
    min-height: calc(100vh - 155px);
}

.callout {
    h6 {
        font-weight: bold;
    }
}

pre {
    font-family: inherit;
    white-space: pre-wrap;
    margin-bottom: 1rem;
}

.fa-2x {
    font-size: 1.4rem;
}