<template>
<div class="section-container">
    <div class="form__section-header">
        <h4 class="form__section-number" v-if="number > 0">Section {{ number }}</h4>
        <h4 class="form__section-number" v-else>New Section</h4>
        <div class="form__section-remove">
            <button type="button" class="red-button" title="Remove Section" v-on:click="onRemoveSection" v-show="number != 0">
                <span class="fa fa-trash"> Remove Section</span>
            </button>
        </div>

        <div class="form__section-name">
            <label>Section Name<span class="required">*</span>:</label>
            <input class="form__text" type="text" v-model="section.name">
            <p class="error-message">{{ errors.get("survey.sections."+ (number>0 ? number-1 : 0) +".name") }}</p>
        </div>
        <div class="form__section-description">
            <label>Section Description:</label>
            <textarea class="form__textarea" v-model="section.desc"></textarea>
            <p class="error-message">{{ errors.get('survey.sections.' + (number>0 ? number-1 : 0) + '.desc') }}</p>
        </div>

        <hr>
    </div>

    <!-- List of Questions -->
    <div class="form__question-list" v-if="section.questions.length != 0">
        <div class="question-container" v-for="(question, questionIndex) in section.questions" :key="questionIndex">
            <div class="form__question">
                <p class="form__question-index">Question {{ questionIndex + 1 }}<p>

                <div class="form__question-text">
                    <label>Question<span class="required">*</span>:</label>
                    <input type="text" v-model="question.text">
                    <p class="error-message">{{ errors.get('survey.sections.' + (number>0 ? number-1 : 0) + '.questions.' + questionIndex + '.text') }}</p>
                </div>
                
                <div class="form__question-type">
                    <label>Question Type<span class="required">*</span>:</label>
                    <select v-model="question.type_id">
                        <option v-for="questionType in questionTypes" :key="questionType.id" v-bind:value="questionType.id" v-text="questionType.type"></option>
                    </select>
                </div>

                <div class="form__question-code">
                    <label>Question Code<span class="required">*</span>:</label>
                    <select v-model="question.code">
                        <option value="academic">academic</option>
                        <option value="active citizen">active citizen</option>
                        <option value="personal">personal</option>
                        <option value="professional">professional</option>
                        <option value="age">age</option>
                        <option value="gender">gender</option>
                        <option value="stage">stage</option>
                        <option value="direct-entry">direct entry</option>
                        <option value="school">school</option>
                        <option value="work-experience">work experience</option>
                        <option value="placement">placement</option>
                        <option value="N/A">N/A</option>
                    </select>
                </div>

                <div class="form__question-options" v-for="(option, optionIndex) in question.options" :key="optionIndex">
                    <label>Option {{optionIndex + 1}}</label>
                    <input type="text" v-model="option.text">
                    <button type="button" class="button" title="Remove Option" @click="onRemoveOption(questionIndex, optionIndex)" v-show="question.type_id != 3">
                        <span class="fa fa-trash"> Remove</span>
                    </button>
                    <p class="error-message">{{ errors.get('survey.sections.' + (number>0 ? number-1 : 0) + '.questions.' + questionIndex + '.options.' + optionIndex + '.text') }}</p>
                </div>
                <p class="error-message">{{ errors.get('survey.sections.' + (number>0 ? number-1 : 0) + '.questions.' + questionIndex + '.options') }}</p>
                <div class="form__question-options-add">
                    <button type="button" class="red-button" title="Add Option" @click="onAddOption(questionIndex)" v-show="question.type_id != 3">
                        <span class="fa fa-plus"> Add Option</span>
                    </button>
                </div>
            </div>
            <div class="form__question-remove">
                <button type="button" class="red-button" title="Remove Question" v-on:click="onRemoveQuestion(questionIndex)">
                    <span class="fa fa-trash"> Remove Question</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Add Question -->
    <div class="form__new-question">
        <div class="form__question">
            <div class="form__question-text">
                <label>Question<span class="required">*</span>:</label>
                <input class="form__text" type="text" v-model="newQuestionText">
            </div>
            
            <div class="form__question-type">
                <label>Question Type<span class="required">*</span>:</label>
                <select class="form__select" v-model="newQuestionType">
                    <option v-for="questionType in questionTypes" :key="questionType.id" v-bind:value="{type_id: questionType.id, type: questionType.type}" v-text="questionType.type"></option>
                </select>
            </div>

            <div class="form__question-code">
                <label>Question Code<span class="required">*</span>:</label>
                <select class="form__select" v-model="newQuestionCode">
                    <option value="academic">academic</option>
                    <option value="active citizen">active citizen</option>
                    <option value="personal">personal</option>
                    <option value="professional">professional</option>
                    <option value="age">age</option>
                    <option value="gender">gender</option>
                    <option value="stage">stage</option>
                    <option value="direct-entry">direct entry</option>
                    <option value="school">school</option>
                    <option value="work-experience">work experience</option>
                    <option value="placement">placement</option>
                    <option value="N/A">N/A</option>
                </select>
            </div>
        </div>
        <div class="form__question-add">
            <button type="button" class="button" title="Add Question" v-on:click="onAddQuestion"><span class="fa fa-plus"> Add to Section</span></button>
        </div>
    </div>
    <div class="form__section-save">
        <button type="button" class="red-button" title="Save Section" v-on:click="onSectionSubmit" v-show="number == 0">
            <span class="fa fa-save"> Save Section</span>
        </button>
    </div>
</div>
</template>

<script>
import swal from 'sweetalert2';

// TODO require from seperate file
class Errors {
    constructor() {
        this.errors = {};
    }

    get(field) {
        if(this.errors[field]) {
            return this.errors[field][0];
        }
    }

    record(errors) {
        this.errors = errors;
    }
}

export default {
    name: 'create-section',

    props: {
        number: {
            type: Number,
            default: 0
        },
        section: {
            type: Object,
            default: function () {
                return { 
                    name: '',
                    desc: '',
                    questions: []
                }
            }
        },
        errors: {
            type: Object,
            default: function () {
                return new Errors()
            }
        }
    },

    data() {
        return {
            newQuestionText: '',
            newQuestionType: {},
            newQuestionCode: '',
            questionTypes: [],
        }
    },

    created() {
        this.loadQuestionTypes();
    },

    methods: {
        /**
        * Load Question Types via AJAX. Display error if question types can not be found.
        * 
        * @return void
        */
        loadQuestionTypes() {
            axios.get(baseURL+'/api/question-types')
            .then((response) => {
                this.questionTypes = response.data;
            })
            .catch((error) => {
                swal({
                    title: 'Error',
                    text: 'Issue loading section',
                    type: 'error',
                });
            });
        },

        /**
        * Send section to parent component and clear section fields.
        * 
        * @return void
        */
        onSectionSubmit() {
            this.$emit('newSection', this.section);
            this.clearSection();
        },

        /**
        * Clear section fields.
        * 
        * @return void
        */
        clearSection() {
            this.section.name = '';
            this.section.desc = '';
            this.section.questions = [];
        },

        /**
        * Create new question with default options.
        * 
        * @return void
        */
        onAddQuestion() {
            var options = null;
            if(this.newQuestionType !== null && this.newQuestionCode !== '') {
                if(this.newQuestionType.type === '7_point_scale') {
                    options = [{"text": "Disagree"}, {"text": "Agree"}];
                } 
                else if(this.newQuestionType.type === 'select' || this.newQuestionType.type === 'multiselect') {
                    options = [{"text": "Yes"}, {"text": "No"}];
                }
                this.addQuestion(options);
                this.clearNewQuestionFields();
            }
        },

        /**
        * Clear question fields.
        * 
        * @return void
        */
        clearNewQuestionFields() {
            this.newQuestionText = '';
            this.newQuestionType = {};
            this.newQuestionCode = '';
        },

        /**
        * Add question to array of questions.
        * 
        * @param array options
        * @return void
        */
        addQuestion(options) {
            this.section.questions.push({
                "text": this.newQuestionText,
                "code": this.newQuestionCode,
                "type_id": this.newQuestionType.type_id,
                "type": this.newQuestionType.type,
                options
            });
        },

        /**
        * Add option to array of options.
        * 
        * @param questionIndex
        * @return void
        */
        onAddOption(questionIndex) {
            this.section.questions[questionIndex].options.push({"text": "Other"});
        },

        /**
        * Remove question from database and array of questions.
        * 
        * @param int questionIndex
        * @return void
        */
        onRemoveQuestion(questionIndex) {
            swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
            }).then(() => {
                swal(
                    'Deleted!',
                    'The item has been deleted.',
                    'success'
                )
                if(this.section.questions[questionIndex].id != null) {
                    axios.delete(baseURL+'/administrator/questions/'+this.section.questions[questionIndex].id);
                }

                this.section.questions.splice(questionIndex, 1);
            });
        },

        /**
        * Remove option from database and array of options.
        * 
        * @param int questionIndex
        * @param int optionIndex
        * @return void
        */
        onRemoveOption(questionIndex, optionIndex) {
            swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
            }).then(() => {
                swal(
                    'Deleted!',
                    'The item has been deleted.',
                    'success'
                )
                if(this.section.questions[questionIndex].options[optionIndex].id != null) {
                    axios.delete(baseURL+'/administrator/question-options/'+this.section.questions[questionIndex].options[optionIndex].id);
                }
                this.section.questions[questionIndex].options.splice(optionIndex, 1);
            });
        },

        /**
        * Trigger parent event to remove section.
        * 
        * @return void
        */
        onRemoveSection() {
            this.$emit('removeSection');
        }
    }
}
</script>