<template>
    <form id="survey-form" method="POST" :action="this.baseURL+'/administrator/surveys/'" @submit.prevent="onSurveySubmit">
        <div class="form__survey-header">
            <div class="form__survey-name">
                <label>Survey Title<span class="required">*</span>:</label>
                <input class="form__text" type="text" placeholder="Survey Title" v-model="name">
                <span class="error-message">{{ errors.get('survey.name') }}</span>
            </div>

            <div class="form__survey-description">
                <label>Survey Description:</label>
                <textarea class="form__textarea" placeholder="Description of Survey" v-model="desc"></textarea>
                <span class="error-message">{{ errors.get('survey.desc') }}</span>
            </div>
        </div>

        <div v-if="sections.length != 0">
            <div class="form__section complete" v-for="(section, index) in sections" :key="index">
                <create-section :number="index+1" :section="section" :errors="errors" v-on:removeSection="onRemoveSection(index)"></create-section>
            </div>
        </div>

        <div class="form__section" v-if="showSectionDetails">
            <create-section v-on:newSection="onSectionSubmit"></create-section>
        </div>
        <div class="form__section-add" v-if="!showSectionDetails">
            <button type="button" class="button" title="Add New Section" v-on:click="onShowNewSectionForm">
                <span class="fa fa-plus-circle"> Add New Section</span>
            </button>
        </div>

        <div class="form__submit">
            <p>Please make sure you have saved any new sections before creating the survey.</p>
            <button type="submit" title="Save Survey" class="green-button">
                <span class="fa fa-save"> Save Survey</span>
            </button>
        </div>
    </form>
</template>

<script>
import CreateSection from './CreateSection.vue';
import swal from 'sweetalert2';

// TODO require from seperate file
class Errors {
    constructor() {
        this.errors = {};
    }

    get(field) {
        if(this.errors[field]) {
            return this.errors[field][0];
        }
    }

    record(errors) {
        this.errors = errors;
    }
}

export default {
    name: 'create-survey',

    components: { 'create-section': CreateSection },

    data() {
        return {
            baseURL: baseURL,
            showSectionDetails: false,
            name: '',
            desc: '',
            sections: [],
            errors: new Errors()
        }
    },

    methods: {
        /**
        * Add section to array of sections and hide add section form.
        * 
        * @param Object newSection
        * @return void
        */
        onSectionSubmit(newSection) {
            this.sections.push({
                "name": newSection.name,
                "desc": newSection.desc,
                "questions": newSection.questions
            });
            this.toggleSectionDetails();
        }, 

        /**
        * Show new section form.
        * 
        * @return void
        */
        onShowNewSectionForm() {
            this.toggleSectionDetails();
        },

        /**
        * Toogle add section form.
        * 
        * @return void
        */
        toggleSectionDetails() {
            this.showSectionDetails = !this.showSectionDetails;
        },

        /**
        * Remove section from array of sections. Ask user for confirmation of action.
        * 
        * @return void
        */
        onRemoveSection(sectionIndex) {
            swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
            }).then(() => {
                swal(
                    'Deleted!',
                    'The section has been deleted.',
                    'success'
                )
                this.sections.splice(sectionIndex, 1);
            });
        },

        /**
        * Submit survey via AJAX. Display success or error message depending on response.
        * 
        * @return void
        */
        onSurveySubmit() {
            axios.post(baseURL+'/administrator/surveys', {
                "survey": {
                    "name": this.name,
                    "desc": this.desc,
                    "sections": this.sections
                }
            })
            .then(url => {
                swal({
                    title: 'Success',
                    text: this.name +' has been created!',
                    type: 'success',
                    timer: 4000
                }).then(() => {
                    window.location.href = url.data;
                })
            })
            .catch(error => {
                this.errors.record(error.response.data);
                swal({
                    title: 'Error',
                    text: 'Please fix the highlighted errors.',
                    type: 'error',
                });
            })
        }
    }
};
</script>












