<template>
    <form id="survey-form" method="PATCH" :action="this.baseURL+'/administrator/surveys/'+this.surveyId" @submit.prevent="onSurveyUpdate">
        <div class="form__survey-header">
            <div class="form__survey-name">
                <label>Survey Title<span class="required">*</span>:</label>
                <input class="form__text" type="text" placeholder="Survey Title" v-model="name">
                <span class="error-message">{{ errors.get('survey.name') }}</span>
            </div>

            <div class="form__survey-description">
                <label>Survey Description:</label>
                <textarea class="form__textarea" placeholder="Description of survey" v-model="desc"></textarea>
                <span class="error-message">{{ errors.get('survey.desc') }}</span>
            </div>
        </div>
        
        <div v-if="sections.length != 0">
            <div class="form__section complete" v-for="(section, index) in sections" :key="index">
                <create-section :number="index+1" :section="section" :errors="errors" v-on:removeSection="onRemoveSection(index)"></create-section>
            </div>
        </div>

        <div class="form__section" v-if="showSectionDetails">
            <create-section v-on:newSection="onSectionSubmit"></create-section>
        </div>
        <div class="form__section-add" v-if="!showSectionDetails">
            <button type="button" class="button" title="Add New Section" v-on:click="onShowNewSectionForm">
                <span class="fa fa-plus-circle"> Add New Section</span>
            </button>
        </div>

        <div class="form__submit">
            <p>Please make sure you have saved any new sections before updating the survey.</p>
            <button type="submit" title="Update Survey" class="green-button">
                <span class="fa fa-save"> Update Survey</span>
            </button>
        </div>
    </form>
</template>

<script>
// TODO implement errors on all fields
import CreateSection from './CreateSection.vue';
import swal from 'sweetalert2';

// TODO require from seperate file
class Errors {
    constructor() {
        this.errors = {};
    }

    get(field) {
        if(this.errors[field]) {
            return this.errors[field][0];
        }
    }

    record(errors) {
        this.errors = errors;
    }
}

export default {
    name: 'edit-survey',

    components: { 'create-section': CreateSection },

    props: {
        surveyId: {
            type: Number,
            default: 0
        },
    },

    data() {
        return {
            baseURL: baseURL,
            showSectionDetails: false,
            name: '',
            desc: '',
            sections: [],
            errors: new Errors()
        }
    },

    mounted() {
        this.loadSurvey();
    },

    methods: {
        /**
        * Load survey via AJAX. Display error if survey can not be loaded.
        * 
        * @return void
        */
        loadSurvey() {
            axios.get(baseURL+'/api/surveys/'+this.surveyId)
            .then((response) => {
                this.name = response.data.name;
                this.desc = response.data.desc;
                this.sections = response.data.sections;
            })
            .catch((error) => {
                swal({
                    title: 'Error',
                    text: 'Issue loading survey',
                    type: 'error',
                });
            });
        },

        /**
        * Add section to array of sections and hide add section form.
        * 
        * @param Object newSection
        * @return void
        */
        onSectionSubmit(newSection) {
            this.sections.push({
                "name": newSection.name,
                "desc": newSection.desc,
                "questions": newSection.questions
            });
            this.toggleSectionDetails();
        }, 

        /**
        * Show new section form.
        * 
        * @return void
        */
        onShowNewSectionForm() {
            this.toggleSectionDetails();
        },

        /**
        * Toogle add section form.
        * 
        * @return void
        */
        toggleSectionDetails() {
            this.showSectionDetails = !this.showSectionDetails;
        },

        /**
        * Remove section from array of sections. Ask user for confirmation of action.
        * 
        * @return void
        */
        onRemoveSection(sectionIndex) {
            swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then(() => {
                swal(
                    'Deleted!',
                    'The section has been deleted.',
                    'success'
                )
                if(this.sections[sectionIndex].id != null) {
                    axios.delete(baseURL+'/administrator/sections/'+ this.sections[sectionIndex].id);
                }
                this.sections.splice(sectionIndex, 1);
            }) .catch((error) => {
                console.log("action canceled");
            });
        },

        /**
        * Submit survey via AJAX. Display success or error message depending on response.
        * 
        * @return void
        */
        onSurveyUpdate() {
            axios.patch(baseURL+'/administrator/surveys/'+ this.surveyId, {
                "survey": {
                    "name": this.name,
                    "desc": this.desc,
                    "sections": this.sections
                }
            })
            .then(response => {
                swal({
                title: 'Good job!',
                text: this.name +' has been updated!',
                type: 'success',
                timer: 4000
                }).then(() => {
                    window.location.href = response.data;
                })
            })
            .catch(error => {
                this.errors.record(error.response.data);
                swal({
                    title: 'Error',
                    text: 'Please fix the highlighted errors.',
                    type: 'error',
                });
            })
        }
    }
};
</script>












