<template>
    <div class="form__section">
        <h3 class="form__section-title">{{ section.name }}</h3>
        <div class="form__section-desc"><pre>{{ section.desc }}</pre></div>

        <div class="form__item" v-for="(question, index) in section.questions" :key="question.id">
            <div class="form__item-question">
                <p>Question {{ index + 1 }}: {{ question.text }}</p>
            </div>

            <div class="form__item-options" v-if="question.type_id == 1">
                <fieldset :id="'question-'+index" class="form__dropdown" :class="{'error': hasErrors(question)}">
                    <multiselect
                        v-model="question.answers"
                        :options="question.options"
                        :multiple="false"
                        :close-on-select="true"
                        placeholder="Please select one"
                        label="text"
                        track-by="text"
                        @input="onAnswered(question)">
                    </multiselect>
                </fieldset>
            </div>

            <div class="form__item-options" v-if="question.type_id == 2">
                <fieldset :id="'question-'+index" class="form__dropdown" :class="{'error': hasErrors(question)}">
                    <multiselect
                        v-model="question.answers"
                        :options="question.options"
                        :multiple="true"
                        :close-on-select="true"
                        placeholder="Select all that apply"
                        label="text"
                        track-by="text"
                        @input="onAnswered(question)">
                    </multiselect>
                </fieldset>
            </div>

            <div class="form__item-options" v-if="question.type_id == 3">
                <fieldset :id="'question-'+index" class="form__scale">
                    <div class="scale-label-numbers">
                        <label for="one">{{ question.options[0].text }} </br>1</label>
                        <label for="two"></br>2</label>
                        <label for="three"></br>3</label>
                        <label for="four"></br>4</label>
                        <label for="five"></br>5</label>
                        <label for="six"></br>6</label>
                        <label for="seven">{{ question.options[1].text }} </br>7</label>
                    </div>
                    <div class="scale-radio-buttons" :class="{'error': hasErrors(question)}">
                        <input type="radio" :name="'question-'+index" id="one" value="1" v-model="question.answers" @change="onAnswered(question)"></input>
                        <input type="radio" :name="'question-'+index" id="two" value="2" v-model="question.answers" @change="onAnswered(question)"></input>
                        <input type="radio" :name="'question-'+index" id="three" value="3" v-model="question.answers" @change="onAnswered(question)"></input>
                        <input type="radio" :name="'question-'+index" id="four" value="4" v-model="question.answers" @change="onAnswered(question)"></input>
                        <input type="radio" :name="'question-'+index" id="five" value="5" v-model="question.answers" @change="onAnswered(question)"></input>
                        <input type="radio" :name="'question-'+index" id="six" value="6" v-model="question.answers" @change="onAnswered(question)"></input>
                        <input type="radio" :name="'question-'+index" id="seven" value="7" v-model="question.answers" @change="onAnswered(question)"></input>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="form__controls">
            <button type="button" class="red-button" v-on:click="onNavBack" v-show="currentPage > 1">Back</button>
            <button type="button" class="red-button" v-on:click="onNavNext" v-if="currentPage < lastPage">Next</button>
            <button type="type" class="green-button" v-on:click="onComplete" v-else>Submit</button>
        </div>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import swal from 'sweetalert2';

export default {
    name: 'survey-section',

    components: { Multiselect },

    props: {
        currentPage: {
            type: Number
        },
        lastPage: {
            type: Number
        },
        section: {
            type: Object,
            default: function () {
                return { 
                    name: '',
                    desc: '',
                    questions: [],
                    answers: []
                }
            }
        }
    },

    methods: {
        /**
        * Trigger event on parent to save section and navigate back.
        * 
        * @return void
        */
        onNavBack() {
            this.$emit('back', this.section);
        },

        /**
        * Trigger event on parent to save section and navigate forward. Display error if questions are not answered.
        * 
        * @return void
        */
        onNavNext() {
            if(this.allQuestionsAnswered()) {
                this.$emit('next', this.section);
            } else {
                swal({
                    title: 'Question missed',
                    text: 'Please answer all questions before moving on.',
                    type: 'error',
                });
            }
        },

        /**
        * Trigger event on parent to save section and submit survey. Display error if questions are not answered.
        * 
        * @return void
        */
        onComplete() {
            if(this.allQuestionsAnswered()) {
                this.$emit('complete', this.section);
            } else {
                swal({
                    title: 'Question missed',
                    text: 'Please answer all questions before submitting.',
                    type: 'error',
                });
            }
        },

        /**
        * Check if all section questions have been answered.
        * 
        * @return boolean
        */
        allQuestionsAnswered() {
            var allQuestionsAnswered = false;
            var totalAnsweredQuestions = 0;
            for(var i=0; i < this.section.questions.length; i++) {
                if(this.section.questions[i].answers != null) {
                    totalAnsweredQuestions++;
                }
                else {
                    this.recordError(this.section.questions[i]);
                }
            }

            if(totalAnsweredQuestions == this.section.questions.length) {
                allQuestionsAnswered = true;
            }
            return allQuestionsAnswered;
        },

        /**
        * State whether the question has errors.
        * 
        * @param Object question
        * @return boolean
        */
        hasErrors(question) {
            var hasErrors = false;
            if(question.errors != null) {
                hasErrors = true;
            }
            return hasErrors;
        },

        /**
        * Record error.
        * 
        * @param question
        * @return void
        */
        recordError(question) {
            question.errors = "Unanswered question";
        },

        /**
        * Remove error from question.
        * 
        * @param Object question
        * @return void
        */
        onAnswered(question) {
            this.removeError(question);
        },

        /**
        * Remove error from question
        * 
        * @param Object question
        * @return void
        */
        removeError(question) {
            question.errors = null;
        }
    }
}
</script>