<template>
    <div>
        <div class="survey-page-count">
            <p class="float-center">Section {{ pagination.remote_current_page }} of {{ pagination.remote_last_page }}</p>
        </div>

        <form id="survey-response-form" method="POST" @submit.prevent>
            <survey-section :currentPage="parseInt(pagination.remote_current_page)" :lastPage="parseInt(pagination.remote_last_page)" :section="currentSection" @back="onNavBack" @next="onNavNext" @complete="onComplete"></survey-section>
        </form>

        <div class="survey-page-count">
            <p class="float-center">Section {{ pagination.remote_current_page }} of {{ pagination.remote_last_page }}</p>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import SurveySection from './SurveySection.vue';
import VueResource from 'vue-resource';
import VuePaginator from 'vuejs-paginator';
import swal from 'sweetalert2';

Vue.use(VueResource);

export default {
    name: 'survey',

    components: { 'survey-section': SurveySection, VPaginator: VuePaginator },

    props: {
        surveyId: {
            type: Number,
            default: null
        },
        instanceId: {
            type: Number,
            default: null
        }
    },

    data() {
        return {
            survey: {},
            currentSection: {},
            survey_url: baseURL+'/api/surveys/'+ this.surveyId +'/instances/'+ this.instanceId,
            resource_url: baseURL+'/api/surveys/'+ this.surveyId +'/sections',
            pagination: {
                remote_data: 'data',
                remote_current_page: 'current_page',
                remote_last_page: 'last_page',
                remote_next_page_url: 'next_page_url',
                remote_prev_page_url: 'prev_page_url',
                next_button_text: 'Go Next',
                previous_button_text: 'Go Back'
            },
            completedSections: [],
        }
    },

    mounted() {
        this.loadSurveyInstance(this.survey_url);
        this.loadPaginatedSections(this.resource_url)
        .then((sectionData) => {
            this.setPagination(sectionData);
            this.setCurrentSection(sectionData.data);
        });
    },

    methods: {
        /**
        * Load survey via AJAX.
        * 
        * @param String url
        * @return void
        */
        loadSurveyInstance(url) {
            axios.get(url)
            .then((response) => {
                this.survey = response.data;
            })
            .catch((error) => {
                // TODO create error response
            });
        },

        /**
        * Load sections via AJAX.
        * 
        * @param String url
        * @return Promise
        */
		loadPaginatedSections(url) {
            return new Promise((resolve, reject) => {
                axios.get(url)
                .then((response) => {
                    resolve(response.data);
                })
                .catch((error) => {
                    reject(error);
                });
            });
        },

        /**
        * Either update or save section. Update pagination to previous page and previous section.
        * 
        * @param Object section
        * @return void
        */
        onNavBack(section) {
            if(this.sectionExists(section.id)) {
                this.updateSection(section);
            } else {
                this.saveSection(section);
            }

            if(this.pagination.remote_prev_page_url != null) {
                this.resource_url = this.pagination.remote_prev_page_url;
                this.loadPaginatedSections(this.resource_url)
                .then((sectionData) => {
                    this.setPagination(sectionData);
                    this.setCurrentSection(sectionData.data);
                    this.scrollToPageTop();
                });
            }
        },

        /**
        * Either update or save section. Update pagination to next page and next section.
        * 
        * @param Object section
        * @return void
        */
        onNavNext(section) {
            if(this.sectionExists(section.id)) {
                this.updateSection(section);
            } else {
                this.saveSection(section);
            }
            
            if(this.pagination.remote_next_page_url != null) {
                this.resource_url = this.pagination.remote_next_page_url;
                this.loadPaginatedSections(this.resource_url)
                .then((sectionData) => {
                    this.setPagination(sectionData);
                    this.setCurrentSection(sectionData.data);
                    this.scrollToPageTop();
                });
            } 
        },

        /**
        * Scroll to top of page.
        * 
        * @return void
        */
        scrollToPageTop() {    	
            window.scrollTo(0, 0);
        },

        /**
        * Save completed section. Format sections for submission and submit survey.
        * 
        * @param completeSection
        * @return void
        */
        onComplete(completeSection) {
            this.saveSection(completeSection);
            this.formatCompletedSectionsForSubmission();
            this.submitSurvey();
        },

        /**
        * Check if the specfied section has already been saved.
        * 
        * @param int sectionId
        * @return boolean
        */
        sectionExists(sectionId) {
            var sectionExists = false;
            this.completedSections.forEach(function (completedSection) {
                if(sectionId == completedSection.id) {
                    sectionExists = true;
                } 
            });
            return sectionExists;
        },

        /**
        * Set the current section to either a blank section or a previously saved section.
        * 
        * @param Array sections
        * @return void
        */
        setCurrentSection(sections) {
            sections.forEach(function (currentUncompletedSection) {
                var currentCompletedSection = this.getCurrentCompleteSection(currentUncompletedSection.id)
                if(currentCompletedSection != null) {
                    this.currentSection = currentCompletedSection;
                } else {
                    this.currentSection = currentUncompletedSection;
                }
            }.bind(this));
        },

        /**
        * Get complete section of current section if it exists.
        * 
        * @param int sectionId
        * @return null | Object
        */
        getCurrentCompleteSection(sectionId) {
            var currentCompletedSection = null;
            this.completedSections.forEach(function (completedSection) {
                if(sectionId == completedSection.id) {
                    currentCompletedSection = completedSection;
                } 
            });
            return currentCompletedSection;
        },

        /**
        * Set pagination.
        * 
        * @param Object sectionData
        * @return void
        */
        setPagination(sectionData) {
            this.pagination = {
                remote_data: sectionData.data,
                remote_current_page: sectionData.current_page,
                remote_last_page: sectionData.last_page,
                remote_next_page_url: sectionData.next_page_url,
                remote_prev_page_url: sectionData.prev_page_url,
            }
        },

        /**
        * Update completed section with new answers. 
        * 
        * @param Object updateSection
        * @return void
        */
        updateSection(updatedSection) {
            for (var i in this.completedSections) {
                if (this.completedSections[i].id == updatedSection.id) {
                    this.completedSections[i] = updatedSection;
                    break;
                }
            }
        }, 

        /**
        * Add section to array of sections.
        * 
        * @param Object completeSection
        * @return void
        */
        saveSection(completeSection) {
            this.completedSections.push(completeSection);
        }, 

        /**
        * Removes unwanted properties from Object before submission.
        * 
        * @return void
        */
        formatCompletedSectionsForSubmission() {
             this.completedSections.forEach(function (section) {
                delete section.survey_id;
                delete section.name;
                delete section.desc;
                delete section.deleted_at;

                section.questions.forEach(function (question) {
                    delete question.section_id;
                    delete question.text;
                    delete question.code;
                    delete question.deleted_at;
                    delete question.options;
                });
             });
        },

        /**
        * Submit survey via AJAX. Display success or error message depending on response.
        * 
        * @return void
        */
        submitSurvey() {
            axios.post(
                baseURL+'/surveys/'+ this.surveyId +'/instances/'+ this.instanceId+'/response', 
                {"sections": this.completedSections}
            )
            .then(url => {
                swal({
                    title: 'Success',
                    text: 'Thank you for taking part in the survey.',
                    type: 'success',
                    timer: 4000
                }).then(() => {
                    window.location.href = url.data;
                },
                (dismiss) => {
                    window.location.href = url.data;
                })
            })
            .catch(error => {
                swal({
                    title: 'Error',
                    text: 'There seems to have been a problem submitting your response.',
                    type: 'error',
                });
            })
        }
    }
};
</script>
