#front {
	// Page header
	#front-hero {
		background-size: cover;
		background-position: bottom;
		
		@include breakpoint(small) {
			padding: rem-calc(65%) 0;
			margin: 0 0 rem-calc(32);
			height: auto;
			position: relative;
			text-align: left;
		}

		@include breakpoint(medium) {
			height: rem-calc(685);
			margin: 0 0 rem-calc(72);
		}

		.marketing {
			@include grid-row();
			max-width: 55rem;
			color: $white;
			text-align: center;
		}

		.tagline {
			text-transform: uppercase;
			font-size: 2.3rem;
			text-shadow: 0px 0px 60px rgba(0,0,0,0.9);

			@include breakpoint(small) {
				@include grid-column(12);
			}

			@include breakpoint(medium) {
				@include grid-column(12);
				padding-top: 6rem;
			}
		}

		h1 {
			color: #fff;
			font-weight: 500;

			@include breakpoint(small) {
				font-size: 2.2rem;
			}

			@include breakpoint(medium) {
				font-size: 2.875rem;
			}

		}

		h4 {
			color: #fefefe;
			font-weight: 300;
			font-size: 1.3125rem;
		}
	}

	.introduction {
		@include grid-row();
		font-size: 1.2rem;
		
		.purpose, .motovation {
			@include grid-column(12);
			margin-bottom: $global-margin;

			h3 {
				font-size: 1.3rem;
				font-weight: 600;
				color: $primary-color;
			}
		}
	}
}