.button {
    @include button(false, $white, $white, $dark-gray, solid);
    border: 1px solid $dark-gray;
    border-radius: 4px;
    white-space: nowrap;

    &:hover {
        @include button(false, $white, $white, $secondary-color, solid);
        border: 1px solid $secondary-color;
        border-radius: 4px;
    }
}

.red-button {
    @include button(false, $white, $white, $dark-gray, solid);
    border: 1px solid $dark-gray;
    border-radius: 4px;
    white-space: nowrap;

    &:hover {
        @include button(false, $white, $white, $primary-color, solid);
        border: 1px solid $primary-color;
        border-radius: 4px;
    }
}

.green-button {
    @include button(false, $success-color, $success-color, $white, solid);
    border-radius: 4px;
    white-space: nowrap;

    &:hover {
        background-color: darken($success-color, 5%);
        border-radius: 4px;
    }
}