[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

    &:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    -webkit-box-shadow: 0 0 5px #cacaca;
            box-shadow: 0 0 5px #cacaca;
    -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    }
}

select {
    border: 1px solid #cacaca;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cacaca;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cacaca;
}

input::placeholder,
textarea::placeholder {
  color: #cacaca;
}

.required {
  font-size: 1.5rem;
  color: $alert-color;
}

.error-message {
  color: $alert-color;
}

.form {
  @include xy-grid();
  @include xy-cell(12);
}

#survey-form {
  @include xy-grid();
  margin: $global-margin auto;
}

.form__survey-header {
  width: 100%;
}

.form__survey-name {
  width: 100%;

  label {
    font-size: 0.7rem;
    text-transform: uppercase;
  }
  
  .form__text {
      @include breakpoint(medium) {
          height: 4rem;
          font-size: 3rem;
          border: none;
          border-bottom: 1px solid $light-gray;
          box-shadow: none;
      }

      &:focus {
        border: none;
        border-bottom: 1px solid $light-gray;
        box-shadow: none;
      }
  }
}

.form__survey-name, .form__survey-description {
  width: 100%;

  label {
    width: 100%;
  }

  .form__textarea, .form__text, .form__select {
    width: 100%;
  }

  .form__textarea {
      height: 10rem;
  }
}

.form__section {
  width: 100%;

  &.complete {
    .form__section-number:after {
      content: ' \f058';
      font-family: 'FontAwesome';
      color: #449955;
    }
  }

  .section-container {
    @include xy-grid-container();
    padding-left: 0;
    padding-right: 0;
    margin-bottom: $global-margin * 2;
    border: solid 1px $light-gray;

    @include breakpoint(medium) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.form__section-header {
  @include xy-grid();
  margin: $global-margin;
}

.form__section-number {
  @include xy-cell(8);
}

.form__section-remove {
  @include xy-cell(4);

  button {
      float: right;
  }
}

.form__section-name {
  @include xy-cell(12);
}

.form__section-description {
  @include xy-cell(12);

  .form__textarea {
      width: 100%;
      height: 10rem;
      padding: $global-padding;
  }
}

.form__section-add {
  margin: 0 auto 6rem;
  padding: 1rem 1.2rem;
}

.form__question-list {
  .question-container {
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 1rem;
    border-top: solid 1px #DCDCDC;
    position: relative;
  }
}

.form__new-question {
  @include xy-grid();
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-top: solid 1px #DCDCDC;
}

.form__question {
  @include xy-grid();
  @include xy-cell(12);
  margin-bottom: 50px;

  @include breakpoint(medium) {
    @include xy-cell(10);
  }
}

.form__question-index {
  @include xy-cell(12);
  font-weight: bold;
}

.form__question-text {
  @include xy-cell(12);
}

.form__question-type {
  @include xy-cell(12);
  @include breakpoint(medium) {
      @include xy-cell(6);
  }
}

.form__question-code {
  @include xy-cell(12);
  @include breakpoint(medium) {
      @include xy-cell(6);
  }
}

.form__question-options {
  @include xy-grid();
  @include xy-cell(12);
  position: relative;

  label {
      @include xy-cell(12);
      margin-left: 0;
      margin-right: 0;
  }

  button.button {
    position: absolute;
    bottom: 0;    
    right: 0;
    background-color: transparent;
    border: none;
    color: $dark-gray;
    
    &:hover {
      background-color: transparent;
      color: $alert-color;
      border: none;
    }
  }
}

.form__question-options-add {
  @include xy-grid();
  @include xy-cell(12);
  display: inline;
  text-align: right;
}

.form__question-add {
  @include xy-cell(12);

  button {
    float: right;
  }
}

.form__question-remove {
  position: absolute;
  top: 1rem;
  right: 1.9rem;
}

.form__section-save {
  text-align: center;
}

.form__submit {
  @include xy-cell(12);
  
  button {
      float: right;
  }
}

#survey-response-form {
  @include xy-grid();

  .form__section {
    @include xy-grid();
    @include xy-cell(12);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $global-margin;
    padding: $global-padding;
    border: 1px solid $light-gray;

    .form__section-title {
        @include xy-cell(12);
    }

    .form__section-desc {
        @include xy-cell(12);
    }
  
    .form__item {
        @include xy-cell(12);
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin: $global-margin 0;

        .form__item-question {
            @include xy-cell(12);
            font-size: 1.4rem;
        }

        .form__item-options {
            @include xy-cell(12);
            width: 100%;
            margin-left: 0;
            margin-right: 0;

            .form__dropdown {
              @include xy-grid();
              @include xy-cell(12);
              width: 100%;
              margin-left: 0;
              margin-right: 0;
              @include breakpoint(medium) {
                @include xy-cell(8);
                padding: $global-padding;
              }
              @include breakpoint(large) {
                @include xy-cell(6);
              }
            
              .dropdown-options {
                @include xy-grid();
              }
            
              &.error {
                border: 1px solid $alert-color;
              }
            }
            
            .form__scale{
                @include xy-grid();
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            
              .scale-label-numbers {
                @include xy-grid();
                @include xy-cell(12);
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                padding: $global-padding;
                text-align: center;
            
                label {
                    @include xy-cell();
                    @include xy-cell-base(auto);
                }
              }
            
              .scale-radio-buttons {
                @include xy-grid();
                @include xy-cell(12);
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                background-color: $white;
                padding: $global-padding;
                
                input[type="radio"]{
                    @include xy-cell();
                    @include xy-cell-base(auto);
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 0;
                    -webkit-transform:scale(1.5, 1.5);
                    -moz-transform:scale(1.5, 1.5);
                    -ms-transform:scale(1.5, 1.5);
                    -o-transform:scale(1.5, 1.5);
                    transform:scale(1.5, 1.5)!important;
                }
            
                &.error {
                  border: 1px solid $alert-color;
                }
              }
            }
        }
    }

    .form__controls {
        @include xy-grid();
        @include xy-cell(12);
        text-align: center;
        display: block;
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid $light-gray;

        .before-button, .next-button, .submit-button {
            @include xy-cell(auto);

            a.button {float: right;}
        }
    }
  }
}

.multiselect__input {
  position: relative;
  display: inline-block;
  min-height: 20px;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  background: #fff;
  padding: 1px 0 0 5px;
  width: 100%;
  -webkit-transition: border .1s ease;
  transition: border .1s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 8px;
  box-shadow: none;
  font-family: inherit;
  font-size: 14px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.button-form {
  display: inline;
}