.instance-list-section {
    @include xy-grid();

    .title {
        @include xy-cell(12);
    }
}

.instance {
    @include xy-grid();
    @include xy-cell(12);
    padding: 1rem 0;
    margin-bottom: $global-margin;
    border: 1px solid $light-gray;

    @include breakpoint(medium) {
        @include xy-cell(6);
    }
    @include breakpoint(large) {
        @include xy-cell(4);
    }

    .instance-heading {
        @include xy-grid();
        @include xy-cell(12);

        .instance-title {
            @include xy-cell(auto);
        }

        .instance-button-remove {
            @include xy-cell(auto);
            display: inline;
            text-align: right;
        }
    }

    .instance-startdate, .instance-enddate, .instance-responses, .instance-footer {
        @include xy-cell();
    }

    .instance-responses {
        border: 1px solid $light-gray;
        padding: $global-padding / 2;
        margin-top: $global-margin;
        margin-bottom: $global-margin;
        text-align: center;

        p {
            margin-bottom: 0;
        }
    }

    .instance-footer {
        @include xy-grid();
        @include xy-cell(12);

        p { @include xy-cell(); }

        .instance-button-view {
            @include xy-cell();
            padding: $global-padding;
            background-color: $dark-gray;
        }

        .instance-button-download {
            @include xy-cell(6);
            padding: $global-padding;
        }
    }
}
