.survey-list-section {
    position: relative;
    @include xy-grid();
}

.survey-intro {
    @include xy-grid();
    width: 100%;
    margin-bottom: $global-margin;
    border: 1px solid $light-gray;

    .survey-info {
        @include xy-cell(auto);
        padding: $global-padding;
    }

    .survey-button {
        @include xy-cell(12);
        padding: $global-padding;
        text-align: right;
        
        @include breakpoint(large) {
            @include xy-cell(4);
        }

        a.survey-icon-button {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 0;
            text-align: center;
            border-radius: 50%;
            margin-bottom: 1rem;
            
            &:after {
                content: '';
                display: block;
                width: 100%;
                position: absolute;
                top: 110%;
                left: 0;
                right: 0;
            }

            &.uncomplete {
                border: 1px solid $light-gray;
                color: $dark-gray;
                &:after {
                    content: 'Start';
                }

                &:hover {
                    border-color: #d11142;
                    color: #d11142;
                }

                span {
                    width: 100%;
                    text-align: center;
                    line-height: 48px;
                }
            }

            &.complete {
                background-color: $success-color;

                span {
                    width: 100%;
                    text-align: center;
                    line-height: 48px;
                }
            }
        }
    }
}

.survey-page-count {
    @include xy-grid();
    @include xy-cell(12);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $global-margin;
    padding: $global-padding;
    border: 1px solid $light-gray;

    p {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0;
    }
}

.page-error-message {
    @include xy-grid();
    @include xy-cell(12);
    margin-bottom: $global-margin;
    padding: $global-padding;
    border: 1px solid $light-gray;
}